body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #ff4081;
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e73370;
}

#result {
    margin-top: 20px;
    font-size: 2rem;
    color: red;
}

.hidden {
    display: none; /* Cache les éléments avec la classe hidden */
}

#heart {
    width: 200px;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}